fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
sqlalchemy
alembic
psycopg2-binary
pgvector
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
python-multipart
sentence-transformers
modelscope
pymupdf
python-docx
paddleocr
openai
langchain>=0.2.0
langchain-core>=0.2.0
langchain-openai>=0.1.0
langchain-postgres>=0.0.10
langchain-text-splitters>=0.2.0
langsmith>=0.1.0
python-dotenv
